// BANNER

.banner {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  min-height: 100vh;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    font-size: 55px;
    font-weight: bold;
  }

  p {
    font-size: 30px;
    color: white;
    opacity: .9;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  }
}

.form-wrapper {
  background-color: white;
  padding: 40px;
  width: 70%;
  margin: 0px auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, .1);

  label {
    color: rgb(75, 83, 107);
    font-weight: 700;
  }

  .btn {
    margin: 10px 0 0px 0;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(75, 83, 107);
    width: 100%;
  }
}

@media all and (max-width: 1100px) {
  .form-wrapper {
    width: 100%;
  }
}

@media all and (max-width: 770px) {
  .form-wrapper {
    margin-top: 40px;
  }
}


// WHY US
.why-us-container {
  padding: 70px 0;

  h1 {
    color: #4B536B;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bolder;
    margin-bottom: 35px;
  }
}

.why-us-1,
.why-us-2,
.why-us-3 {
  img {
    height: 200px;
    margin: 0 auto;
    display: block;
  }

  h2 {
    font-weight: 700;
    font-size: 25px;
    color: #4B536B;
  }

  p {
    color: #4B536B;
    font-weight: lighter;
    letter-spacing: 1px;
  }
}
