.message-wrapper {
  background-color: white;
  padding: 40px;
  width: 50%;
  margin: 0px auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, .1);

  h2 {
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    font-size: 25px;
    color: #4B536B;
  }

  p {
    font-size: 15;
    opacity: .9;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0;
    color: #4B536B;
    font-weight: lighter;
    letter-spacing: 1px;
  }

  img {
    width: 100%;
    margin: 0px auto;
    display: block;
  }
}

@media all and (max-width: 1100px) {
  .message-wrapper {
    width: 70%;
  }
}

@media all and (max-width: 770px) {
  .message-wrapper {
    width: 85%;
  }
}

@media all and (max-width: 500px) {
  .message-wrapper {
    width: 95%;
  }
}
