%h1{:style => "text-align: center; font-family: Arial, Helvetica, sans-serif; margin: 0; margin-top: 35px; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);font-weight: 700;font-size: 25px;color: #4B536B;"}
  Good news #{@request.name}!
%img{:alt => "confirm-your-request", :src => "https://res.cloudinary.com/dr1htywyc/image/upload/v1552675753/in-mailing-list.png", :style => "height: 200px; margin: 0 auto; display: block;"}/

%p{:style => "text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 15; opacity: .9; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); margin: 0; color: #4B536B; font-weight: lighter; letter-spacing: 1px;"}
  You've been accepted in your new coworking space!
  %br
  Our office manager will call you soon to give you details about the subscription payment process.
  %br
  We can't wait to meet you!
  %br
  %br
%p{:style => "text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 15; opacity: .9; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); margin: 0; color: #4B536B; font-weight: 700; letter-spacing: 1px;"}
  The French Coworking Space Team
