%h1{:style => "text-align: center; font-family: Arial, Helvetica, sans-serif; margin: 0; margin-top: 35px; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);font-weight: 700;font-size: 25px;color: #4B536B;"}
  Hi #{@request.name}!
%img{:alt => "confirm-your-request", :src => "https://res.cloudinary.com/dr1htywyc/image/upload/v1552675753/last-chance-to-confirm.png", :style => "height: 200px; margin: 0 auto; display: block;"}/

%p{:style => "text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 15; opacity: .9; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); margin: 0; color: #4B536B; font-weight: lighter; letter-spacing: 1px;"}
  You only have #{@request.position - 1} persons ahead of you in the waiting list. We need you to confirm that you are still interested within the next week or your request will expire.
  %br

  - if Rails.env.development?
    =link_to "confirm", confirm_interest_url(@request.id, host: "localhost:3000"), {:style=>'background-color: #4b536b; text-decoration: none; color: white; margin: 30px auto 0px auto; display: block; width: max-content; padding: 10px 20px; border-radius: 4px;'}
  - else
    =link_to "confirm", confirm_interest_url(@request.id, host: "https://french-coworking-space.herokuapp.com"), {:style=>'background-color: #4b536b; text-decoration: none; color: white; margin: 30px auto 0px auto; display: block; width: max-content; padding: 10px 20px; border-radius: 4px;'}

  %br
  %br
%p{:style => "text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 15; opacity: .9; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); margin: 0; color: #4B536B; font-weight: 700; letter-spacing: 1px;"}
  The French Coworking Space Team
